<div class="EffectsView">
	<video id="myVideo" src="assets/videos/0/0/0_3_dashinit.mp4" loop controls autoplay ></video>
	<video id="myVideo2" src="" controls autoplay ></video>
	<video id="mixer" src="assets/youtube/0/0/14_very_close_takeoffs_md11_777_787_a330_a300_767_md81_757_a321_manchester_airport.mp4" controls loop autoplay ></video>
	
	<div id="three"></div>
	<span id="chrome">ChromeGno.me</span>
</div>