<div class="EffectsView">
	<video id="myVideo" src="" controls autoplay ></video>
	<video id="myVideo2" src="" controls autoplay ></video>
	<video id="mixer" src="" controls autoplay ></video>
	
	<div id="three"></div>
	<span id="chrome">ChromeGno.me</span>
</div>