/**
 * Chrome
 */

.info {
	position: absolute;
    width: 680px;
    height: 360px;
    right: 0;
    top: 0;
    text-align: right;
    z-index:100;
    
    div{
		padding-left: 100px;
		padding-right: 20px;
		padding-top: 20px;
		color:white;
        text-shadow: 1px 1px 2px black;       
    }
    
    &.is-hidden{
		opacity:0;
    }
    
    transition: opacity 0.4s ease-out;
}

.Chrome {
	    position: absolute;
    width: 100%;
    background-color: #000;
    margin: 0 auto;
    min-height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
}

